  <% if @game.won? %>
  <h2 class="game-page_over_message">
    <%= notice %>
  </h2>
<% end %>
<% if @game.over? %>
  <h2 class="game-page_over_message">
    Game Over! the code was <%= @game.secret_code %>.
  <%end%>